@model AttitudeAdmin.Models.EditViewModel

@{
    ViewBag.Title = "مدیریت کاربران";
}
<!-- Main content -->
<section class="content">
    <!-- Your Page Content Here -->
    <!-- general form elements -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"> ویرایش </h3>
            <div style="float: left;">
                <a class="btn btn-block btn-warning" href="@Url.Action("Index")">
                    <i class="fa fa-arrow-left"></i>
                    بازگشت
                </a>
            </div>
        </div><!-- /.box-header -->
        <div class="box-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        <span class="control-label col-md-2"> کلمه عبور :</span>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="control-label col-md-2"> نقش کاربر :</span>
                        <div class="col-md-10">
                            @Html.DropDownListFor(q => q.RoleId, (IEnumerable<SelectListItem>)ViewBag.Roles, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="box-footer text-left">
                        <input type="submit" value="ذخیره" class="btn btn-sm btn-success" />
                    </div>
                </div>
            }

        </div><!-- /.box-body -->
    </div><!-- /.box -->
</section>
<!-- /.content -->
